body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 0px 0px 10px black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content {
  font-size: 2em;
  color: #02D5FF;
}

.description {
  color: white;
  font-size: .6em;
}

.quote{
  font-size:2.5em;
}

.loading {
  animation: glow 1.2s infinite alternate;
}

@keyframes glow {
  to {
      text-shadow: 0 0 10px #02D5FF;
  }
}